Repository honey-moa/honey-moa-server, pull requests merged in 2025-02, with the labels that each got.

#87 Feat/#86/유저 본인 프로필 조회 api
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/attachment/controllers/user.swagger.ts
  src/features/attachment/repositories/user.repository.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/chat-room/commands/create-chat-room/create-chat-room.command-handler.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/controllers/user.swagger.ts
  src/features/user/dtos/response/user.response-dto.ts
  src/features/user/mappers/user.mapper.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query.ts
  src/features/user/repositories/user.repository-port.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user-connection/commands/create-user-connection/create-user-connection.command-handler.ts
  src/features/user/user-connection/commands/update-user-connection/update-user-connection.command-handler.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user.module.ts
Labels: Feat

#90 Deploy to main
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/attachment/controllers/user.swagger.ts
  src/features/attachment/repositories/user.repository.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/chat-room/commands/create-chat-room/create-chat-room.command-handler.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/controllers/user.swagger.ts
  src/features/user/dtos/response/user.response-dto.ts
  src/features/user/mappers/user.mapper.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query.ts
  src/features/user/repositories/user.repository-port.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user-connection/commands/create-user-connection/create-user-connection.command-handler.ts
  src/features/user/user-connection/commands/update-user-connection/update-user-connection.command-handler.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user.module.ts
Labels: Feat

#94 블로그 게시글 생성 API 파일 업로드 로직 추가
  prisma/migrations/20250202065925_create_blog_post_attachments/migration.sql
  prisma/migrations/20250202071117_add_unique_index_in_attachments/migration.sql
  prisma/migrations/20250203061528_add_is_public_column_on_blog_posts/migration.sql
  prisma/schema.prisma
  src/features/attachment/attachment.module.ts
  src/features/attachment/commands/create-attachment/create-attachment.command-handler.ts
  src/features/attachment/domain/attachment.entity-interface.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/domain/events/attachment-deleted.domain-event.ts
  src/features/attachment/domain/events/attachment-location-updated.domain-event.ts
  src/features/attachment/domain/value-objects/location.value-object.ts
  src/features/attachment/mappers/attachment.mapper.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity-interface.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/mappers/blog-post-attachment.mapper.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository-port.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository.ts
  src/features/blog-post/blog-post-attachment/tokens/di.token.ts
  src/features/blog-post/blog-post-tag/blog-post-tag.module.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/create-blog-post.request-body-dto.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/libs/core/app-config/app-config.module.ts
  src/libs/core/app-config/constants/app-config.constant.ts
  src/libs/s3/s3.module.ts
  src/libs/s3/services/s3.service-port.ts
  src/libs/s3/services/s3.service.ts
Labels: Feat

#96 Deploy to main
  prisma/migrations/20250202065925_create_blog_post_attachments/migration.sql
  prisma/migrations/20250202071117_add_unique_index_in_attachments/migration.sql
  prisma/migrations/20250203061528_add_is_public_column_on_blog_posts/migration.sql
  prisma/schema.prisma
  src/features/attachment/attachment.module.ts
  src/features/attachment/commands/create-attachment/create-attachment.command-handler.ts
  src/features/attachment/domain/attachment.entity-interface.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/domain/events/attachment-deleted.domain-event.ts
  src/features/attachment/domain/events/attachment-location-updated.domain-event.ts
  src/features/attachment/domain/value-objects/location.value-object.ts
  src/features/attachment/mappers/attachment.mapper.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity-interface.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/mappers/blog-post-attachment.mapper.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository-port.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository.ts
  src/features/blog-post/blog-post-attachment/tokens/di.token.ts
  src/features/blog-post/blog-post-tag/blog-post-tag.module.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/create-blog-post.request-body-dto.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/libs/core/app-config/app-config.module.ts
  src/libs/core/app-config/constants/app-config.constant.ts
  src/libs/s3/s3.module.ts
  src/libs/s3/services/s3.service-port.ts
  src/libs/s3/services/s3.service.ts
Labels: Feat

#100 Deploy to main
  prisma/migrations/20250203083249_delete_name_column_of_chat_room_model/migration.sql
  prisma/schema.prisma
  src/features/chat-room/commands/create-chat-room/create-chat-room.command-handler.ts
  src/features/chat-room/commands/create-chat-room/create-chat-room.command.ts
  src/features/chat-room/controllers/chat-room.controller.ts
  src/features/chat-room/controllers/chat-room.swagger.ts
  src/features/chat-room/domain/chat-room.entity-interface.ts
  src/features/chat-room/domain/chat-room.entity.ts
  src/features/chat-room/dtos/request/create-chat-room.request-body-dto.ts
  src/features/chat-room/dtos/response/chat-room.response-dto.ts
  src/features/chat-room/dtos/response/hydrated-chat-room.response-dto.ts
  src/features/chat-room/mappers/chat-room.mapper.ts
  src/features/user/domain/user.entity-interface.ts
  src/features/user/domain/user.entity.ts
  src/features/user/mappers/user.mapper.ts
  src/features/user/user-connection/mappers/user-connection.mapper.ts
Labels: Feat

#101 채팅 메시지에 블로그 게시글 url 공유 기능 추가
  prisma/migrations/20250204044808_add_blog_url_field_to_chat_message/migration.sql
  prisma/migrations/20250204112229_modify_blog_post_url_name_and_length/migration.sql
  prisma/schema.prisma
  src/features/chat-message/commands/create-message/create-chat-message.command-handler.ts
  src/features/chat-message/commands/create-message/create-chat-message.command.ts
  src/features/chat-message/domain/chat-message.entity-interface.ts
  src/features/chat-message/dtos/request/find-chat-messages.request-query-dto.ts
  src/features/chat-message/dtos/response/chat-message.response-dto.ts
  src/features/chat-message/dtos/socket/create-chat-message.dto.ts
  src/features/chat-message/gateways/chat-message.gateway.ts
  src/features/chat-message/mappers/chat-message.mapper.ts
  src/features/chat-message/queries/find-chat-messages/find-chat-messages.query-handler.ts
Labels: Modify

#105 Deploy to main
  prisma/migrations/20250204044808_add_blog_url_field_to_chat_message/migration.sql
  prisma/migrations/20250204112229_modify_blog_post_url_name_and_length/migration.sql
  prisma/schema.prisma
  src/features/chat-message/commands/create-message/create-chat-message.command-handler.ts
  src/features/chat-message/commands/create-message/create-chat-message.command.ts
  src/features/chat-message/domain/chat-message.entity-interface.ts
  src/features/chat-message/dtos/request/find-chat-messages.request-query-dto.ts
  src/features/chat-message/dtos/response/chat-message.response-dto.ts
  src/features/chat-message/dtos/socket/create-chat-message.dto.ts
  src/features/chat-message/gateways/chat-message.gateway.ts
  src/features/chat-message/mappers/chat-message.mapper.ts
  src/features/chat-message/queries/find-chat-messages/find-chat-messages.query-handler.ts
Labels: Modify

#103 게시글 단일 조회 API
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/queries/find-one-blog-post/find-one-blog-post.query-handler.ts
  src/features/blog-post/queries/find-one-blog-post/find-one-blog-post.query.ts
  src/libs/types/type.ts
Labels: Feat

#107 Deploy to main
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/queries/find-one-blog-post/find-one-blog-post.query-handler.ts
  src/features/blog-post/queries/find-one-blog-post/find-one-blog-post.query.ts
  src/libs/types/type.ts
Labels: Feat

#108 API 분리 작업
  src/configs/app.route.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog/blog.module.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/controllers/blog.swagger.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/mappers/blog.mapper.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query.ts
  src/features/chat-room/chat-room.module.ts
  src/features/chat-room/commands/create-chat-room/create-chat-room.command-handler.ts
  src/features/chat-room/controllers/chat-room.controller.ts
  src/features/chat-room/controllers/chat-room.swagger.ts
  src/features/chat-room/queries/exists-chat-room.query-handler.ts
  src/features/chat-room/queries/exists-chat-room.query.ts
  src/features/chat-room/queries/find-one-chat-room-by-user-id/find-one-chat-room-by-user-id.query-handler.ts
  src/features/chat-room/queries/find-one-chat-room-by-user-id/find-one-chat-room-by-user-id.query.ts
  src/features/chat-room/repositories/chat-room.repository-port.ts
  src/features/chat-room/repositories/chat-room.repository.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/dtos/response/user.response-dto.ts
  src/features/user/mappers/user.mapper.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user.query.ts
  src/features/user/user-connection/controllers/user-connection.controller.ts
  src/features/user/user-connection/controllers/user-connection.swagger.ts
  src/features/user/user-connection/queries/find-one-user-connection/find-one-user-connection.query-handler.ts
  src/features/user/user-connection/queries/find-one-user-connection/find-one-user-connection.query.ts
  src/features/user/user.module.ts
Labels: Feat, Modify

#109 Deploy to main
  src/configs/app.route.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog/blog.module.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/controllers/blog.swagger.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/mappers/blog.mapper.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query.ts
  src/features/chat-room/chat-room.module.ts
  src/features/chat-room/commands/create-chat-room/create-chat-room.command-handler.ts
  src/features/chat-room/controllers/chat-room.controller.ts
  src/features/chat-room/controllers/chat-room.swagger.ts
  src/features/chat-room/queries/exists-chat-room.query-handler.ts
  src/features/chat-room/queries/exists-chat-room.query.ts
  src/features/chat-room/queries/find-one-chat-room-by-user-id/find-one-chat-room-by-user-id.query-handler.ts
  src/features/chat-room/queries/find-one-chat-room-by-user-id/find-one-chat-room-by-user-id.query.ts
  src/features/chat-room/repositories/chat-room.repository-port.ts
  src/features/chat-room/repositories/chat-room.repository.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/dtos/response/user.response-dto.ts
  src/features/user/mappers/user.mapper.ts
  src/features/user/queries/find-one-user/find-one-user-with-accepted-connection.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user.query-handler.ts
  src/features/user/queries/find-one-user/find-one-user.query.ts
  src/features/user/user-connection/controllers/user-connection.controller.ts
  src/features/user/user-connection/controllers/user-connection.swagger.ts
  src/features/user/user-connection/queries/find-one-user-connection/find-one-user-connection.query-handler.ts
  src/features/user/user-connection/queries/find-one-user-connection/find-one-user-connection.query.ts
  src/features/user/user.module.ts
Labels: Feat, Modify

#110 액세스 토큰 재발급 API 추가
  src/bootstrap.service.ts
  src/configs/app.route.ts
  src/features/auth/auth.module.ts
  src/features/auth/commands/generate-access-token/generate-access-token.command-handler.ts
  src/features/auth/commands/generate-access-token/generate-access-token.command.ts
  src/features/auth/commands/generate-jwt/generate-jwt.command-handler.ts
  src/features/auth/commands/generate-jwt/generate-jwt.command.ts
  src/features/auth/controllers/auth.controller.ts
  src/features/auth/controllers/auth.swagger.ts
  src/libs/api/dtos/response/jwt.response-dto.ts
  src/libs/app-jwt/services/app-jwt.service-port.ts
  src/libs/app-jwt/services/app-jwt.service.ts
  src/libs/app-jwt/types/app-jwt.enum.ts
  src/libs/app-jwt/types/app-jwt.interface.ts
  src/libs/core/app-config/app-config.module.ts
  src/libs/core/app-config/constants/app-config.constant.ts
  src/libs/guards/guard.module.ts
  src/libs/guards/providers/jwt-access-token-auth.guard.ts
  src/libs/guards/providers/jwt-refresh-token-auth.guard.ts
  src/libs/guards/types/guard.constant.ts
Labels: Feat

#112 Deploy to main
  src/bootstrap.service.ts
  src/configs/app.route.ts
  src/features/auth/auth.module.ts
  src/features/auth/commands/generate-access-token/generate-access-token.command-handler.ts
  src/features/auth/commands/generate-access-token/generate-access-token.command.ts
  src/features/auth/commands/generate-jwt/generate-jwt.command-handler.ts
  src/features/auth/commands/generate-jwt/generate-jwt.command.ts
  src/features/auth/controllers/auth.controller.ts
  src/features/auth/controllers/auth.swagger.ts
  src/libs/api/dtos/response/jwt.response-dto.ts
  src/libs/app-jwt/services/app-jwt.service-port.ts
  src/libs/app-jwt/services/app-jwt.service.ts
  src/libs/app-jwt/types/app-jwt.enum.ts
  src/libs/app-jwt/types/app-jwt.interface.ts
  src/libs/core/app-config/app-config.module.ts
  src/libs/core/app-config/constants/app-config.constant.ts
  src/libs/guards/guard.module.ts
  src/libs/guards/providers/jwt-access-token-auth.guard.ts
  src/libs/guards/providers/jwt-refresh-token-auth.guard.ts
  src/libs/guards/types/guard.constant.ts
Labels: Feat

#113 게시글 수정 API 추가
  src/configs/app.route.ts
  src/features/attachment/commands/create-attachment/create-attachment.command-handler.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/mappers/blog-post-attachment.mapper.ts
  src/features/blog-post/blog-post-tag/mappers/blog-post-tag.mapper.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository-port.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/patch-update-blog-post.request-body-dto.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog-post/repositories/blog-post.repository-port.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/tag/repositories/tag.repository.ts
  src/features/user/user-connection/repositories/user-connection.repository.ts
  src/libs/logger/factories/winston-logger-options.factory.ts
  src/libs/s3/s3.module.ts
  src/libs/s3/tokens/di.token.ts
Labels: Feat

#115 Deploy to main
  src/configs/app.route.ts
  src/features/attachment/commands/create-attachment/create-attachment.command-handler.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/mappers/blog-post-attachment.mapper.ts
  src/features/blog-post/blog-post-tag/mappers/blog-post-tag.mapper.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository-port.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/patch-update-blog-post.request-body-dto.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog-post/repositories/blog-post.repository-port.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/tag/repositories/tag.repository.ts
  src/features/user/user-connection/repositories/user-connection.repository.ts
  src/libs/logger/factories/winston-logger-options.factory.ts
  src/libs/s3/s3.module.ts
  src/libs/s3/tokens/di.token.ts
Labels: Feat

#114 게시글 삭제 API
  src/configs/app.route.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/domain/events/attachment-created.domain-event.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/domain/events/blog-post-created.domain-event.ts
  src/features/blog-post/domain/events/blog-post-deleted.domain-event.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user-connection/dtos/response/user-connection.response-dto.ts
  src/features/user/user-connection/mappers/user-connection.mapper.ts
Labels: Feat

#117 Deploy to main
  src/configs/app.route.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/domain/events/attachment-created.domain-event.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/domain/events/blog-post-created.domain-event.ts
  src/features/blog-post/domain/events/blog-post-deleted.domain-event.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user-connection/dtos/response/user-connection.response-dto.ts
  src/features/user/user-connection/mappers/user-connection.mapper.ts
Labels: Feat

#118 소켓에 유저 정보 저장해서 인증상태 유지하기
  src/features/chat-message/chat-message.module.ts
  src/features/chat-message/gateways/chat-message.gateway.ts
  src/features/user/domain/user.entity.ts
  src/libs/guards/guard.module.ts
  src/libs/guards/providers/socket-jwt-bearer-auth.guard.ts
Labels: Modify

#119 Deploy to main
  src/features/chat-message/chat-message.module.ts
  src/features/chat-message/gateways/chat-message.gateway.ts
  src/features/user/domain/user.entity.ts
  src/libs/guards/guard.module.ts
  src/libs/guards/providers/socket-jwt-bearer-auth.guard.ts
Labels: Modify, Bugfix

#123 ResponseDto에서 값을 매핑하지 않는 로직 수정
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
Labels: Feat

#124 Deploy to main
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
Labels: Feat

#130 WebSocketGateway cors 설정 추가
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Bugfix

#131 Deploy to main
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Bugfix

#141 Deploy to main
  package-lock.json
  package.json
  src/configs/app.route.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/find-blog-posts-from-blog.request-query-dto.ts
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query.ts
  src/features/user/controllers/user.swagger.ts
  src/libs/api/decorators/user.decorator.ts
  src/libs/guards/providers/jwt-access-token-auth.guard.ts
  src/libs/guards/types/guard.constant.ts
Labels: Feat

#138 공개 게시글 조회 API 추가
  src/configs/app.route.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/dtos/request/find-public-blog-posts.request-query-dto.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/queries/find-public-blog-posts/find-public-blog-posts.query-handler.ts
  src/features/blog-post/queries/find-public-blog-posts/find-public-blog-posts.query.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/dtos/response/hydrated-blog.response-dto.ts
  src/features/chat-message/queries/find-chat-messages/find-chat-messages.query-handler.ts
  src/features/user/queries/find-users/find-users.query-handler.ts
  src/libs/api/transformers/parse-query-by-colon-and-transform-to-object.transformer.ts
Labels: Feat

#143 블로그 테이블 내에 memberIds 추가
  prisma/migrations/20250213072042_add_member_ids_column_in_blogs/migration.sql
  prisma/schema.prisma
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/mappers/blog.mapper.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
Labels: Feat

#144 Deploy to main
  prisma/migrations/20250213072042_add_member_ids_column_in_blogs/migration.sql
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/delete-blog-post/delete-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog-post/dtos/request/find-public-blog-posts.request-query-dto.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
  src/features/blog-post/queries/find-public-blog-posts/find-public-blog-posts.query-handler.ts
  src/features/blog-post/queries/find-public-blog-posts/find-public-blog-posts.query.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/dtos/response/blog.response-dto.ts
  src/features/blog/dtos/response/hydrated-blog.response-dto.ts
  src/features/blog/mappers/blog.mapper.ts
  src/features/blog/queries/find-one-blog-by-user-id/find-one-blog-by-user-id.query-handler.ts
  src/features/chat-message/queries/find-chat-messages/find-chat-messages.query-handler.ts
  src/features/user/queries/find-users/find-users.query-handler.ts
  src/libs/api/transformers/parse-query-by-colon-and-transform-to-object.transformer.ts
Labels: Feat

#145 Feat/#139/comment crud
  prisma/migrations/20250214051712_create_blog_post_comments/migration.sql
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository.ts
  src/features/blog-post/blog-post-comment/commands/create-blog-post-comment/create-blog-post-comment.command-handler.ts
  src/features/blog-post/blog-post-comment/commands/create-blog-post-comment/create-blog-post-comment.command.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.controller.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.swagger.ts
  src/features/blog-post/blog-post-comment/domain/blog-post-comment.entity-interface.ts
  src/features/blog-post/blog-post-comment/domain/blog-post-comment.entity.ts
  src/features/blog-post/blog-post-comment/dtos/request/create-blog-post-comment.request-body-dto.ts
  src/features/blog-post/blog-post-comment/mappers/blog-post-comment.mapper.ts
  src/features/blog-post/blog-post-comment/repositories/blog-post-comment.repository-port.ts
  src/features/blog-post/blog-post-comment/repositories/blog-post-comment.repository.ts
  src/features/blog-post/blog-post-comment/tokens/di.token.ts
  src/features/blog-post/blog-post-tag/domain/blog-post-tag.entity.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
Labels: Feat

#150 Deploy to main
  prisma/migrations/20250214051712_create_blog_post_comments/migration.sql
  prisma/schema.prisma
  src/configs/app.route.ts
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository.ts
  src/features/blog-post/blog-post-comment/commands/create-blog-post-comment/create-blog-post-comment.command-handler.ts
  src/features/blog-post/blog-post-comment/commands/create-blog-post-comment/create-blog-post-comment.command.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.controller.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.swagger.ts
  src/features/blog-post/blog-post-comment/domain/blog-post-comment.entity-interface.ts
  src/features/blog-post/blog-post-comment/domain/blog-post-comment.entity.ts
  src/features/blog-post/blog-post-comment/dtos/request/create-blog-post-comment.request-body-dto.ts
  src/features/blog-post/blog-post-comment/mappers/blog-post-comment.mapper.ts
  src/features/blog-post/blog-post-comment/repositories/blog-post-comment.repository-port.ts
  src/features/blog-post/blog-post-comment/repositories/blog-post-comment.repository.ts
  src/features/blog-post/blog-post-comment/tokens/di.token.ts
  src/features/blog-post/blog-post-tag/domain/blog-post-tag.entity.ts
  src/features/blog-post/blog-post-tag/repositories/blog-post-tag.repository.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
Labels: Feat

#149 댓글 페이지네이션 조회 API
  src/configs/app.route.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.controller.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.swagger.ts
  src/features/blog-post/blog-post-comment/dtos/request/find-blog-comments.request-query-dto.ts
  src/features/blog-post/blog-post-comment/dtos/response/blog-post-comment.response-dto.ts
  src/features/blog-post/blog-post-comment/queries/find-blog-post-comments/find-blog-post-comments.query-handler.ts
  src/features/blog-post/blog-post-comment/queries/find-blog-post-comments/find-blog-post-comments.query.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/controllers/blog-post.controller.ts
  src/features/blog-post/controllers/blog-post.swagger.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/controllers/blog.swagger.ts
  src/features/user/commands/patch-update-user/patch-update-user.command-handler.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/controllers/user.swagger.ts
  src/libs/api/pipes/not-empty-object.pipe.ts
  src/libs/interceptors/logging/request-response-logging.interceptor.ts
Labels: Feat

#154 Deploy to main
  src/configs/app.route.ts
  src/features/blog-post/blog-post-comment/commands/delete-blog-post-comment/delete-blog-post-comment.command-handler.ts
  src/features/blog-post/blog-post-comment/commands/delete-blog-post-comment/delete-blog-post-comment.command.ts
  src/features/blog-post/blog-post-comment/commands/patch-update-blog-post-comment/patch-update-blog-post-comment.command-handler.ts
  src/features/blog-post/blog-post-comment/commands/patch-update-blog-post-comment/patch-update-blog-post-comment.command.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.controller.ts
  src/features/blog-post/blog-post-comment/controllers/blog-post-comment.swagger.ts
  src/features/blog-post/blog-post-comment/domain/blog-post-comment.entity.ts
  src/features/blog-post/blog-post-comment/dtos/request/patch-update-blog-post-comment.request-body-dto.ts
  src/features/blog-post/blog-post-comment/repositories/blog-post-comment.repository.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog-post/repositories/blog-post.repository-port.ts
  src/features/blog-post/repositories/blog-post.repository.ts
Labels: Feat

#156 Deploy to main
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Modify

#158 소켓 로깅 debug에서 log로 수정
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Refactor

#160 Deploy to main
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Refactor

#161 소켓 메시지 수신 인수값에 senderId 추가
  src/features/chat-message/gateways/chat-message.gateway.ts
Labels: Modify

#164 블로그에서 게시글 페이지네이션 API 필터링 로직 수정
  package-lock.json
  package.json
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
Labels: Modify

#165 Deploy to main
  package-lock.json
  package.json
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
Labels: Modify

#167 블로그 게시글에 컬럼 추가
  prisma/migrations/20250221034255_add_summary_and_thumbnail_image_path_columns_in_blog_posts_table/migration.sql
  prisma/schema.prisma
  src/features/blog-post/blog-post-attachment/domain/blog-post-attachment.entity.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/create-blog-post.request-body-dto.ts
  src/features/blog-post/dtos/response/blog-post.response-dto.ts
  src/features/blog-post/mappers/blog-post.mapper.ts
  src/features/blog-post/queries/find-blog-posts-from-blog/find-blog-posts-from-blog.query-handler.ts
  src/features/blog-post/queries/find-one-blog-post/find-one-blog-post.query-handler.ts
  src/features/blog-post/queries/find-public-blog-posts/find-public-blog-posts.query-handler.ts
Labels: Feat

#136 유저 커넥션 disconnect API 추가
  src/configs/app.route.ts
  src/features/blog-post/application/event-handlers/blog-post-blog-deleted.domain-event-handler.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/repositories/blog-post.repository-port.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/blog/application/event-handlers/blog-user-connection-disconnect.domain-event-handler.ts
  src/features/blog/blog.module.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/domain/events/blog-deleted.domain-event.ts
  src/features/blog/repositories/blog.repository.ts
  src/features/chat-message/application/event-handler/chat-message-chat-room-deleted.domain-event-handler.ts
  src/features/chat-message/chat-message.module.ts
  src/features/chat-message/repositories/chat-message.repository-port.ts
  src/features/chat-message/repositories/chat-message.repository.ts
  src/features/chat-room/application/event-handlers/chat-room-user-connection-disconnect.domain-event-handler.ts
  src/features/chat-room/chat-room.module.ts
  src/features/chat-room/domain/chat-room.entity.ts
  src/features/chat-room/domain/events/chat-room-deleted.domain-event.ts
  src/features/chat-room/repositories/chat-room.repository.ts
  src/features/user/domain/events/user-connection-disconnected.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository-port.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user-connection/commands/disconnect-user-connection/disconnect-user-connection.command-handler.ts
  src/features/user/user-connection/commands/disconnect-user-connection/disconnect-user-connection.command.ts
  src/features/user/user-connection/controllers/user-connection.controller.ts
  src/features/user/user-connection/controllers/user-connection.swagger.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user-connection/repositories/user-connection.repository.ts
  src/features/user/user.module.ts
Labels: Feat

#171 Deploy to main
  src/configs/app.route.ts
  src/features/blog-post/application/event-handlers/blog-post-blog-deleted.domain-event-handler.ts
  src/features/blog-post/blog-post.module.ts
  src/features/blog-post/repositories/blog-post.repository-port.ts
  src/features/blog-post/repositories/blog-post.repository.ts
  src/features/blog/application/event-handlers/blog-user-connection-disconnect.domain-event-handler.ts
  src/features/blog/blog.module.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/domain/events/blog-deleted.domain-event.ts
  src/features/blog/repositories/blog.repository.ts
  src/features/chat-message/application/event-handler/chat-message-chat-room-deleted.domain-event-handler.ts
  src/features/chat-message/chat-message.module.ts
  src/features/chat-message/repositories/chat-message.repository-port.ts
  src/features/chat-message/repositories/chat-message.repository.ts
  src/features/chat-room/application/event-handlers/chat-room-user-connection-disconnect.domain-event-handler.ts
  src/features/chat-room/chat-room.module.ts
  src/features/chat-room/domain/chat-room.entity.ts
  src/features/chat-room/domain/events/chat-room-deleted.domain-event.ts
  src/features/chat-room/repositories/chat-room.repository.ts
  src/features/user/domain/events/user-connection-disconnected.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository-port.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user-connection/commands/disconnect-user-connection/disconnect-user-connection.command-handler.ts
  src/features/user/user-connection/commands/disconnect-user-connection/disconnect-user-connection.command.ts
  src/features/user/user-connection/controllers/user-connection.controller.ts
  src/features/user/user-connection/controllers/user-connection.swagger.ts
  src/features/user/user-connection/domain/user-connection.entity.ts
  src/features/user/user-connection/repositories/user-connection.repository.ts
  src/features/user/user.module.ts
Labels: Feat

#174 Deploy to main
  prisma/migrations/20250224053652_modify_contents_type_jsonb_to_json/migration.sql
  prisma/schema.prisma
  src/features/attachment/applications/event-handlers/delete-attachment.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/move-attachment-path.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/upload-attachment.domain-event-handler.ts
  src/features/attachment/attachment.module.ts
  src/features/attachment/commands/create-attachment/create-attachment.command-handler.ts
  src/features/attachment/commands/create-attachments/create-attachments.command-handler.ts
  src/features/attachment/commands/create-attachments/create-attachments.command.ts
  src/features/attachment/controllers/attachment.controller.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/domain/events/attachment-created.domain-event.ts
  src/features/attachment/domain/events/attachment-deleted.domain-event.ts
  src/features/attachment/domain/events/attachment-location-changed.domain-event.ts
  src/features/attachment/domain/events/attachment-location-updated.domain-event.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog-post/blog-post-attachment/repositories/blog-post-attachment.repository.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command-handler.ts
  src/features/blog-post/commands/create-blog-post/create-blog-post.command.ts
  src/features/blog-post/commands/patch-update-blog-post/patch-update-blog-post.command-handler.ts
  src/features/blog-post/domain/blog-post.entity-interface.ts
  src/features/blog-post/domain/blog-post.entity.ts
  src/features/blog-post/dtos/request/create-blog-post.request-body-dto.ts
  src/features/blog-post/dtos/request/decorators/is-in-file-urls.decorator.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/domain/blog.entity.ts
  src/features/user/commands/patch-update-user/patch-update-user.command-handler.ts
  src/features/user/domain/user.entity.ts
  src/libs/core/app-config/app-config.module.ts
  src/libs/core/app-config/constants/app-config.constant.ts
  src/libs/s3/services/s3.service-port.ts
  src/libs/s3/services/s3.service.ts
Labels: Modify

#175 블로그, 유저 관련 로직 1차 리팩터링
  src/features/attachment/applications/event-handlers/create-attachment-when-blog-created.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/update-attachment-when-blog-background-image-updated.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/update-attachment-when-user-profile-image-updated.domain-event-handler.ts
  src/features/attachment/attachment.module.ts
  src/features/attachment/commands/create-attachments/create-attachments.command-handler.ts
  src/features/attachment/domain/attachment.entity-interface.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog/blog.module.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/blog/commands/create-blog/create-blog.command.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/domain/blog.errors.ts
  src/features/blog/domain/domain-services/blog.domain-service.ts
  src/features/blog/domain/events/blog-background-image-updated.domain-event.ts
  src/features/blog/domain/events/blog-created.domain-event.ts
  src/features/blog/repositories/blog.repository.ts
  src/features/user/commands/patch-update-user/patch-update-user.command-handler.ts
  src/features/user/domain/events/user-profile-image-path-updated.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user.module.ts
  src/libs/ddd/domain-exception.base.ts
  src/libs/exceptions/server-errors/filters/zod-error.exception-filter.ts
  src/libs/exceptions/services/http-exception.service.ts
  src/libs/interceptors/logging/request-response-logging.interceptor.ts
  src/libs/types/type.ts
Labels: Refactor

#176 Deploy to main
  src/features/attachment/applications/event-handlers/create-attachment-when-blog-created.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/update-attachment-when-blog-background-image-updated.domain-event-handler.ts
  src/features/attachment/applications/event-handlers/update-attachment-when-user-profile-image-updated.domain-event-handler.ts
  src/features/attachment/attachment.module.ts
  src/features/attachment/commands/create-attachments/create-attachments.command-handler.ts
  src/features/attachment/domain/attachment.entity-interface.ts
  src/features/attachment/domain/attachment.entity.ts
  src/features/attachment/repositories/attachment.repository-port.ts
  src/features/attachment/repositories/attachment.repository.ts
  src/features/blog/blog.module.ts
  src/features/blog/commands/create-blog/create-blog.command-handler.ts
  src/features/blog/commands/create-blog/create-blog.command.ts
  src/features/blog/commands/patch-update-blog/patch-update-blog.command-handler.ts
  src/features/blog/controllers/blog.controller.ts
  src/features/blog/domain/blog.entity-interface.ts
  src/features/blog/domain/blog.entity.ts
  src/features/blog/domain/blog.errors.ts
  src/features/blog/domain/domain-services/blog.domain-service.ts
  src/features/blog/domain/events/blog-background-image-updated.domain-event.ts
  src/features/blog/domain/events/blog-created.domain-event.ts
  src/features/blog/repositories/blog.repository.ts
  src/features/user/commands/patch-update-user/patch-update-user.command-handler.ts
  src/features/user/domain/events/user-profile-image-path-updated.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user.module.ts
  src/libs/ddd/domain-exception.base.ts
  src/libs/exceptions/server-errors/filters/zod-error.exception-filter.ts
  src/libs/exceptions/services/http-exception.service.ts
  src/libs/interceptors/logging/request-response-logging.interceptor.ts
  src/libs/types/type.ts
Labels: Refactor

#177 유저 회원탈퇴 api 추가
  src/configs/app.route.ts
  src/features/user/commands/delete-user/delete-user.command-handler.ts
  src/features/user/commands/delete-user/delete-user.command.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/controllers/user.swagger.ts
  src/features/user/domain/events/user-deleted.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user.module.ts
Labels: Feat

#178 Deploy to main
  src/configs/app.route.ts
  src/features/user/commands/delete-user/delete-user.command-handler.ts
  src/features/user/commands/delete-user/delete-user.command.ts
  src/features/user/controllers/user.controller.ts
  src/features/user/controllers/user.swagger.ts
  src/features/user/domain/events/user-deleted.domain-event.ts
  src/features/user/domain/user.entity.ts
  src/features/user/repositories/user.repository.ts
  src/features/user/user.module.ts
Labels: Feat
